.latest-work{
  //width: 1170px;
  background-color: $color-button-background !important;
}


.work-type {
  //background-color: red;
  width: 280px;
  margin: 0 auto;
 //border: 1px solid black;
  text-align: center;
  background-color: white;
  color: $color-button-background !important;
}


.type-list li {
  padding: 10px;
  border: 1px solid black;

}

.line{
  width: 45px;
  border-bottom: 3px solid #838182;
}
hr{
 visibility: hidden;
}

