.list-menu{
  margin: 0 auto;
  max-width: 360px;
  width: 100%;
  font-size: 16px;
  font-family: $ProximaRegular;
  // background-color: red;
  //padding-bottom: 6.6%;

}

.item-menu:hover{
  font-weight: 900;
}

.item-menu > a{
  background-color:$color-button-background;
  color: white;
}

.item-menu:before {
  //text-decoration: overline;
  display: block;
  content: "";
  height: 5px;
  width: 0%;
  background-color: #333333;
  transition: width .3s ease-in-out;
}

.item-menu:hover:before,
.item-menu:focus:before {
  width: 100%;
}

.logo-menu{
  display: inline-block;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.list-menu .item-menu:not(:first-child){
  //padding: 5px;
  margin-left: 18px;
  color: white;

}