//@import url('https://fonts.googleapis.com/css?family=Inconsolata');



@font-face {
  font-family: 'MontserratBold';

  src: url('../fonts/Montserrat Bold/Montserrat-Bold.eot');
  src: url('../fonts/Montserrat Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat Bold/Montserrat-Bold.woff') format('woff'),
  url('../fonts/Montserrat Bold/Montserrat-Bold.ttf') format('truetype'),
  url('../fonts/Montserrat Bold/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratLight';

  src: url('../fonts/Montserrat Light/Montserrat-Light.eot');
  src: url('../fonts/Montserrat Light/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat Light/Montserrat-Light.woff') format('woff'),
  url('../fonts/Montserrat Light/Montserrat-Light.ttf') format('truetype'),
  url('../fonts/Montserrat Light/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Nautilus Pompilius';
  src: url('../fonts/NautilusRegular/subset-NautilusPompilius.eot');
  src: url('../fonts/NautilusRegular/subset-NautilusPompilius.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NautilusRegular/subset-NautilusPompilius.woff2') format('woff2'),
  url('../fonts/NautilusRegular/subset-NautilusPompilius.woff') format('woff'),
  url('../fonts/NautilusRegular/subset-NautilusPompilius.ttf') format('truetype'),
  url('../fonts/NautilusRegular/subset-NautilusPompilius.svg#NautilusPompilius') format('svg');
}

@font-face {
  font-family: 'ProximaBold';

  src: url('../fonts/ProximaNova Bold/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova Bold/ProximaNova-Bold.woff') format('woff'),
  url('../fonts/ProximaNova Bold/ProximaNova-Bold.ttf') format('truetype'),
  url('../fonts/ProximaNova Bold/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}



@font-face {
  font-family: 'ProximaLight';

  src: url('../fonts/ProximaNova Light/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNova Light/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova Light/ProximaNova-Light.woff') format('woff'),
  url('../fonts/ProximaNova Light/ProximaNova-Light.ttf') format('truetype'),
  url('../fonts/ProximaNova Light/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaRegular';

  src: url('../fonts/ProximaNova Regular/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova Regular/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/ProximaNova Regular/ProximaNova-Regular.ttf') format('truetype'),
  url('../fonts/ProximaNova Regular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}