html, body{
  width: 100%;
  height: 100%;
}

body{
  padding: 0;
  background: #fff;
  color: #000;
}


body, h1, h2, h3, h4, h5, h6 {
  //font: 14px/18px Verdana, sans-serif;
}

body, form {
  margin: 0;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:link, a:visited, ins {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:link img, a:visited img {
  border: none;
}

a, span{
  display: inline-block;
}

*{
  box-sizing: border-box;
  outline: none;
}


img {
  vertical-align: bottom;
}

input, select, button {
  overflow: visible;
  vertical-align: middle;
}

ul{
  list-style: none;
}
ul li {
  display: inline-block;
}


h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}