

/*.container-fluid{
  width: 100%;
  margin: 0 auto;
  margin-bottom: 80px;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;

  @include breakpoint("large"){
    max-width: 1140px;
  }
  @include breakpoint("small-tablet-portrait"){
    padding-right: 15px;
    padding-left: 15px;
  }
}

.row{
  margin-right: -30px;
  margin-left: -30px;
  font-size: 0;

  @include breakpoint("small-tablet-portrait"){
    margin-right: 5px;
    margin-left: 5px;
  }

}


.col-half{
  display: inline-block;
  width: 50%;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;

  @include breakpoint("small-tablet-portrait"){
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
}*/

